<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <title>AWS Pay</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->
    <link href="/static/v2/img/favicon.png" rel="icon">

    <!-- Bootstrap CSS File -->
    <link href="/static/v2/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="/static/v2/lib/animate/animate.min.css" rel="stylesheet">
    <link href="/static/v2/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/static/v2/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="/static/v2/css/style.css" rel="stylesheet">

</head>

<!-- Modal -->
<div class="modal fade" id="detail" tabindex="-1" role="dialog">
    <div class="modal-dialog popupsm modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="detail">출금신청</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">

                <div class="msg">
                    <i class="la la-check-circle text-blue"></i>
                    <p class="msg">출금신청이 성공적으로 접수되었습니다.</p>
                </div>



                <button type="button" class="btn btn-sm btn-block dark mb-4" data-dismiss="modal">닫기</button>

            </div>
        </div>
    </div>
</div>
<!-- //Modal -->


<body>

    <!--==========================
    Header
  ============================-->
    <header id="header" class="subheader">
        <div class="container-fluid">
            <!--div id="logo" class="pull-left text-hide">
                <a href="/"> AWS Pay </a>
            </div-->
            <div><a href="/mywallet"><img src="/static/v2/img/logo.svg" class="pull-left" width="15%"></a></div>

            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <% if (isMemberLogin) { %>
                    <li><a href="/mywallet/">My Wallet</a></li>
                    <li><a href="/auth/logout">Logout</a></li>
                    <% } else { %>
                    <li><a href="/auth/login">Login</a></li>
                    <li><a href="/membership/join">Signup</a></li>
                    <% } %>
                </ul>
            </nav>
            <!-- #nav-menu-container -->
        </div>
    </header>
    <!-- #header -->

    <main id="main">
        <div class="container subpage">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="subtit">내 지갑</h3>
                </div>
                <!-- #wallet -->
                <section id="wallet">
                    <div class="container">
                        <div class="row">

                          <div class="wallettit col-md-12">
                            <h5> AWS Cryptocurrency (AWX)</h5>
                            <h4 class="bonus">
                              <%= numeral(wallet.quantity).format('0,0') %>
                              <small>AWX</small>
                            </h4>
                          </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">

                                <div class="noti">
                                  <i class="la la-volume-up"></i> 아마존 코인(AWS Cryptocurrency, AWX)은 거래소에서 충전 및 인출이 가능합니다.<br>
                                </div>


                                <div class="wallet-menu nav">
                                    <a href="/mywallet/" class="col-4">시작하기</a>
                                    <% if (wallet.account.length >0) {%>
                                    <a href="/mywallet/history" class="col-4">내역</a>
                                    <a href="/mywallet/withdraw" class="col-4 active">출금</a>
                                    <%}%>
                                </div>

                            </div>
                            <!--==========================
                            출금
                            ============================-->
                            <div class="col-md-12 withdraw-box">

                                <h2>출금</h2>
                                <div class="row">
                                    <div class="withdraw col-md-12">
                                        <form id="rec" action="/mywallet/withdraw" method="post">
                                            <div class="form-group">
                                                <label>보낼 지갑 주소</label>
                                                <span>&nbsp;</span>
                                                <input name="from" type="text" class="form-control" placeholder="보낼 지갑주소" value="<%=from%>" readonly>
                                            </div>

                                            <div class="form-group">
                                                <label>결제 금액</label>
                                                <input name="balance" type="number" class="form-control text-left" placeholder="0 BWX"  value="<%=balance%>" readonly>
                                            </div>

                                            <div class="form-group">
                                                <label>받을 지갑 주소</label>
                                                <span>&nbsp;</span>
                                                <input name="to" type="text" class="form-control" placeholder="받을 지갑주소" value="<%=to%>" >
                                            </div>
                                            <hr/>

                                            <div class="form-group row confirm">
                                                <label class="col-4 col-form-label">출금신청액</label>
                                                <div class="col-8 sum">
                                                    <%=balance%> <span class="unit">AWX</span>
                                                </div>

                                                <label class="col-4 col-form-label">수수료</label>
                                                <div class="col-8 sum">
                                                    <%=gas%> <span class="unit">AWX</span>
                                                </div>
                                            </div>

                                            <div class="form-group row total">
                                                <label class="col-4 col-form-label">실제 출금액</label>
                                                <div class="col-8 sum">
                                                    <%=total%> <span class="unit">AWX</span>
                                                </div>
                                            </div>
                                            <input name="total" type="hidden" value="<%=total%>">

                                            <!--a name="closeBtn" href="" class="btn btn-sm btn-block btn-style2">본인인증</a-->
                                        </form>
                                        <!--hr class="hidden"/-->

                                    </div>
                                    <!-- .withdraw -->
                                </div>
                                <!-- .row -->

                            </div>
                        </div>
                        <!-- .row -->
                        <div class="row btn-box">
                            <div class="col-md-12">
                                <a name="closeBtn" class="btn btn-style2" href="javascript:">출금하기</a>
                                <!-- <a name="closeBtn" class="btn btn-style2" href="" data-toggle="modal" data-target="#detail">출금 신청하기</a> //-->
                            </div>
                        </div>

                    </div>
                    <!-- .container -->
                </section>
                <!-- #wallet -->

            </div>

        </div>
        <!-- #container -->
    </main>


    <!--==========================
    Footer
  ============================-->
    <footer id="footer" class="subfooter">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <a href="#" data-toggle="modal" data-target="#privacy-policy">개인정보처리방침</a> &nbsp;
                    <a href="#" data-toggle="modal" data-target="#terms">이용약관</a>
                </div>
                <div class="col-md-6">
                    © 2018, Amazon Web Services, Inc. 또는 자회사. All rights reserved.
                </div>
            </div>
        </div>
    </footer>
    <!-- #footer -->

    <!-- Modal -->
    <div class="modal fade" id="accountDialog" tabindex="-1" role="dialog">
        <div class="modal-dialog popupsm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">AWX 지갑주소</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center">

                    <img src="/qrcode/<%= wallet.account %>" class="mt-5 mb-5">
                    <p id="accountAddress" class="txtbox mb-2"><%= wallet.account %></p>
                    <button type="button" class="btn btn-sm btn-block dark mb-4" data-dismiss="modal">주소 복사하기</button>
                </div>
            </div>
        </div>
    </div>
    <!-- //Modal -->


    <!-- <a href="#" class="back-to-top"><i class="la la-chevron-up"></i></a>-->

    <!-- JavaScript Libraries -->
    <script src="/static/v2/lib/jquery/jquery.min.js"></script>
    <script src="/static/v2/lib/jquery/jquery-migrate.min.js"></script>
    <script src="/static/v2/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/static/v2/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/v2/lib/easing/easing.min.js"></script>
    <script src="/static/v2/lib/superfish/hoverIntent.js"></script>
    <script src="/static/v2/lib/superfish/superfish.min.js"></script>
    <script src="/static/v2/lib/wow/wow.min.js"></script>
    <script src="/static/v2/lib/waypoints/waypoints.min.js"></script>
    <script src="/static/v2/lib/counterup/counterup.min.js"></script>
    <script src="/static/v2/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="/static/v2/lib/isotope/isotope.pkgd.min.js"></script>
    <script src="/static/v2/lib/lightbox/js/lightbox.min.js"></script>
    <script src="/static/v2/lib/touchSwipe/jquery.touchSwipe.min.js"></script>
    <script src="/static/v2/js/main.js"></script>
    <script src="/static/vendors/jquery.number/jquery.number-2.1.3.min.js"></script>
    <script src="/static/vendors/moment/moment-2.20.1.min.js"></script>
    <script src="/static/js/common.js"></script>
    <script src="/static/js/ajax.js"></script>
    <script>
      $(document).ready(function () {
        $('[name=closeBtn]').click(function (e) {
          //e.preventDefault();
          document.getElementById("rec").submit();
        });
      });
    </script>
    <script>
      $(document).ready(function () {
        $('#accountDialog').on('hide.bs.modal', function (e) {
          setTimeout(function() {
            copyToClipboard('accountAddress');
          }, 100);
        });
      });
    </script>

</body>

</html>
